In [1]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [3]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   8.014159
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.949919
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.837493
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.853552
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.821435

In [4]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-10-18,143.699997,142.100006,143.550003,142.339996,9119000.0,141.463028
2021-10-19,140.820007,138.800003,139.080002,140.660004,9555300.0,139.793396
2021-10-20,141.960007,139.850006,140.149994,141.210007,7352700.0,140.340012
2021-10-21,141.160004,139.179993,140.860001,139.330002,6545500.0,139.330002
2021-10-22,141.009995,139.320007,139.389999,140.830002,5237700.0,140.830002