## Diversifiable and Non-Diversifiable Risk of a Portfolio

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Import the same dataset we used in the previous lecture – Microsoft and Apple stock, downloaded from Yahoo Finance. Timeframe – 1st of January 2007 until today. <br />
*Hint: To save time, we have written the code you need!*

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['MSFT', 'AAPL']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']
    
sec_data

                  MSFT        AAPL
Date
2007-01-03   21.869663    2.569716
2007-01-04   21.833040    2.626753
2007-01-05   21.708536    2.608047
2007-01-08   21.920935    2.620927
2007-01-09   21.942909    2.838647
...                ...         ...
2021-10-19  308.230011  148.759995
2021-10-20  307.410004  149.259995
2021-10-21  310.760010  149.479996
2021-10-22  309.160004  148.690002
2021-10-25  308.700012  148.840103

[3730 rows x 2 columns]

In [2]:
sec_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3730 entries, 2007-01-03 to 2021-10-25
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MSFT    3730 non-null   float64
 1   AAPL    3730 non-null   float64
dtypes: float64(2)
memory usage: 87.4 KB

Then, calculate the diversifiable and the non-diversifiable risk of a portfolio, composed of these two stocks:

a) with weights 0.5 and 0.5;

In [3]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009737  0.004926
2007-01-09  0.001002  0.079800
...              ...       ...
2021-10-19  0.003054  0.014968
2021-10-20 -0.002664  0.003355
2021-10-21  0.010839  0.001473
2021-10-22 -0.005162 -0.005299
2021-10-25 -0.001489  0.001009

[3730 rows x 2 columns]

### Calculating Portfolio Variance

Equal weightings scheme:

In [4]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [5]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.0699814782841604

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Diversifiable Risk:

In [13]:
# annual risk
MSFT_var_a = sec_returns[['MSFT']].var() * 250
MSFT_var_a

MSFT    0.078079
dtype: float64

In [14]:
AAPL_var_a = sec_returns[['AAPL']].var() * 250
AAPL_var_a

AAPL    0.103115
dtype: float64

Or:

In [15]:
MSFT_var_a = sec_returns['MSFT'].var() * 250
MSFT_var_a

0.07807885184634583

In [16]:
AAPL_var_a = sec_returns['AAPL'].var() * 250
AAPL_var_a

0.1031147918009121

Calculating Diversifiable Risk:

In [17]:
dr = pfolio_var - (weights[0] ** 2 * MSFT_var_a) - (weights[1] ** 2 * AAPL_var_a)
dr

0.02468306737234592

In [18]:
print (str(round(dr*100, 3)) + ' %')

2.468 %

Calculating Non-Diversifiable Risk:

In [19]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.04529841091181448

Or:

In [20]:
n_dr_2 = (weights[0] ** 2 * MSFT_var_a) + (weights[1] ** 2 * AAPL_var_a)
n_dr_2

0.04529841091181448

*****

b)	With weights 0.2 for Microsoft and 0.8 for Apple.

### Calculating Portfolio Variance

In [21]:
weights_2 = np.array([0.2, 0.8])

Portfolio Variance:

In [22]:
pfolio_var_2 = np.dot(weights_2.T, np.dot(sec_returns.cov() * 250, weights_2))
pfolio_var_2

0.08491378394473897

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Calculating Diversifiable Risk:

In [23]:
dr_2 = pfolio_var_2 - (weights_2[0] ** 2 * MSFT_var_a) - (weights_2[1] ** 2 * AAPL_var_a)
dr_2

0.015797163118301386

In [24]:
print (str(round(dr*100, 3)) + ' %')

2.468 %

Calculating Non-Diversifiable Risk:

In [25]:
n_dr_2 = pfolio_var_2 - dr_2
n_dr_2

0.06911662082643759

Or:

In [26]:
n_dr_2 = (weights_2[0] ** 2 * MSFT_var_a) + (weights_2[1] ** 2 * AAPL_var_a)
n_dr_2

0.06911662082643759